<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag    'tops', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'tops', 'data-turbolinks-track': 'reload' %>
</head>
<body>
    <h1>比較したいお店を選んでください。</h1>
    <p>キーワード</p>
    <%= form_tag("/meal/out_submit") do %>
        <input name="keyword" value="<%= @keyword %>">
        <input type="submit" value="検索">
    <% end %>
    <% if @restaurants %>
        <%= form_tag("/meal/confirm") do %>
            <% @restaurants.each do |restaurant| %>
                <% if restaurant['budget']['average'].to_i != 0 %>
                    <input type="radio" name="name" value="<%= "#{restaurant['name']}" %>"><%= restaurant['name'] %>(予算: <%= restaurant['budget']['average'].to_i %>円)<br>
                    <input type="hidden" name="price" value="<%= "#{restaurant['budget']['average'].to_i}" %>">
                    <% end %>
            <% end %>
            <input type="submit" value="決定">
        <% end %>
    <% end %>
</body>
</html>