<table class ="attr">
  <tr>
    <th><%=form.label :number,"id" %></th>
    <td><%= form.text_field :number%></td>
  </tr>
  <tr>
    <th><%=form.label :name,"ユーザー名" %></th>
    <td><%= form.text_field :name%></td>
  </tr>
  <tr>
    <th><%=form.label :full_name,"氏名" %></th>
    <td><%= form.text_field :full_name%></td>
  </tr>
  <tr>
    <th><%=form.label :email,"メールアドレス" %></th>
    <td><%= form.text_field :email%></td>
  </tr>
</table>
