<%=@page_title = "会員名簿" %>
<h1><%=@page_title %></h1>

<div class="toolbar"><%=link_to "会員の新規登録",:new_member %></div>

<% if @members.present? %>
  <table class="list">
    <thead>
      <tr>
        <th>ユーザ名</th>
        <th>氏名</th>
      </tr>
    </thead>
    <tbody>
      <%=@members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%=member.full_name %></td>
      </tr>
    <% end%>
  </tbody>
</table>
<% else %>
  <p>会員情報がありません。</p>
<% end%>
